// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@import 'color-palette';

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

// Foreground colors
$dark_fg_color:  rgba($black, 0.87);
$light_fg_color: $white;

$fg_color:                    $lightGray;
$button_fg_color:             $lightGray; // extra fg color for raised buttons
$secondary_fg_color:          $lightGray;
$hint_fg_color:               $inactiveForeground;
$disabled_fg_color:           $inactiveForeground;
$disabled_secondary_fg_color: rgba($inactiveForeground, 0.5);
$track_color:                 rgba($inactiveForeground, 0.5);
$divider_color:               rgba($white, 0.12);

$titlebar_fg_color:                    $white;
$titlebar_secondary_fg_color:          $lightGray;
$titlebar_hint_fg_color:               $inactiveForeground;
$titlebar_disabled_fg_color:           $inactiveForeground;
$titlebar_disabled_secondary_fg_color: rgba($inactiveForeground, 0.5);
$titlebar_track_color:                 rgba($inactiveForeground, 0.5);
$titlebar_divider_color:               rgba($white, 0.12);

$inverse_fg_color:                    $background;
$inverse_secondary_fg_color:          rgba($background, 0.7);
$inverse_hint_fg_color:               rgba($background, 0.5);
$inverse_disabled_fg_color:           rgba($background, 0.5);
$inverse_disabled_secondary_fg_color: rgba($background, 0.3);
$inverse_track_color:                 rgba($background, 0.3);
$inverse_divider_color: rgba($background, 0.12);

// Background colors
$bg_color:             $darkBackground;
$base_color:           $background;
$alt_base_color:       mix($base_color, $bg_color, 50%);
$popup_bg_color:       $lightBackground;
$alt_lighter_bg_color: $background; // for gnome-shell sub menu
$button_bg_color:      $background;

$titlebar_bg_color:     $background;

$panel_bg_color:         rgba($black, 0.6);
$alt_panel_bg_color:     rgba($black, 0.3);
$inverse_panel_bg_color: rgba($inverse_fg_color, 0.1);
$solid_panel_bg_color:   $darkBackground;
$opaque_panel_bg_color:  $darkBackground; // for Unity panel which cannot use translucent colors

$gdm_bg_color: $background;

$fill_color:      gtkalpha(currentColor, 0.24);
$semi_fill_color: gtkalpha(currentColor, 0.12);
$row_fill_color:  gtkalpha(currentColor, 0.06);

// Misc colors
$primary_color:         $lightGray;
$alt_primary_color:     $gray;
$secondary_color:          $yellow;
$disabled_secondary_color: rgba($secondary_color, 0.5);

$link_color:         $primary_color;
$visited_link_color: $purple;

$warning_color: $orange;
$error_color:   $pink;
$success_color: $green;

$suggested_color:   $secondary_color;
$destructive_color: $pink;

$info_bg_color:     $green;
$question_bg_color: $cyan;
$warning_bg_color:  $orange;
$error_bg_color:    $pink;

$tooltip_bg_color: $lightBackground;
$tooltip_fg_color: $foreground;

$border_color:             rgba($black, 0.26);
$alt_border_color:         rgba($black, 0.26); // for non-native GTK+ apps (e.g. Firefox and Chrome)
$highlight_color:          rgba($white, 0.1);
$titlebar_highlight_color: rgba($white, 0.1);
$alt_highlight_color:      rgba($white, 0.2); // for selection-mode headerbar which colored with $primary_color
$titlebar_indicator_color: currentColor;

// FIXME: Electron/Atom menu does not allow translucent colors
$opaque_fg_color:           $white;
$opaque_secondary_fg_color: mix($white, $base_color, percentage(0.7));
$opaque_disabled_fg_color:  mix($white, $base_color, percentage(0.5));
$opaque_divider_color:      mix($white, $base_color, percentage(0.12));

// FIXME: gtk @placeholder_text_color does not allow translucent colors
$placeholder_text_color: mix($white, $base_color, percentage(0.7));
